# Dependencies
node_modules/

# Build outputs
dist/
build/
.next/
out/
coverage/
tss-signer/
liberdus-bsc-bridge-ui/
# Environment files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
